{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/bored_games_app/games.css">
{% endblock stylesheet %}

{% block title %}
 <title>Bored Games – Games</title>
{% endblock title %}

{% block page %}
<div class="page">
    <h1>Bored Games</h1>

    <div class="buttons">
        <a href="{% url "bored_games:add_game" %}" id="add-game">Add new game</a>
        <a href="{% url "bored_games:add_copies" %}" id="add-game">Add new copies of games</a>
    </div>

    <div class="content">
        <ul>
            <div class="game">
                <li>Title</li>
                <li>Number of Players</li>
                <li>Games Available</li>
            </div>

            {% for game in games %}
                <div class="game-data">
                    <a href="{% url "bored_games:game_detail" game.game.id %}">
                        <li>{{ game.game.title }}</li>
                    </a>
                    {% if game.game.min_no_of_players == game.game.max_no_of_players %}
                        <li>{{ game.game.min_no_of_players }}</li>
                    {% else %}
                        <li>{{ game.game.min_no_of_players }} – {{ game.game.max_no_of_players }}</li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if limit_reached == True %}
                            <div class="message">
                                <li>Return at least 1 game to rent this game</li>
                            </div>
                        {% else %}
                            <li>
                                <a href="{% url "bored_games:rent_game" game.id %}" class="button">Rent the Game!</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>Log in to rent games</li>
                    {% endif %}
                </div>
            {% endfor %}
        </ul>
    </div>

    {% if no_rentals != True %}
        <div class="rented-content">
            <ul>
                <div class="rented-game">
                    <li>Title</li>
                    <li>Number of Players</li>
                    <li class="checkmark">On loan to</li>
                </div>

                {% for game in rented_games %}
                    <div class="rented-game-data">
                        <a href="{% url "bored_games:game_detail" game.game.id %}">
                            <li>{{ game.game.title }}</li>
                        </a>
                        {% if game.game.game.min_no_of_players == game.game.max_no_of_players %}
                            <li>{{ game.game.min_no_of_players }}</li>
                        {% else %}
                            <li>{{ game.game.min_no_of_players }} – {{ game.game.max_no_of_players }}</li>
                        {% endif %}
                        <li class="checkmark">{{ game.latest_borrower }}</li>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock page %}