{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/bored_games_app/landing.css">
{% endblock stylesheet %}

{% block title %}
 <title>Bored Games – Welcome</title>
{% endblock title %}

{% block page %}
<div class="page">
    <h1>Bored Games</h1>

    <div class="content">
        <h2>Welcome to our board gaming club!</h2>
        <ul>
            <li>We currently have a total of
                <span id="copies">{{ game_instances }} copies</span> of
                <span id="games">{{ games }} games</span>
            </li>
            <li>You can rent up to three games at a time from our collection</li>
            <li>You can add new games to our collection</li>
            <li>You can also add new copies of the games in our collection</li>
        </ul>
        <div class="button">
            <a href="{% url "bored_games:games" %}">
                Browse our games!
             </a>

        </div>
    </div>
{% endblock page %}