{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static "logged_out.css" %}">
{% endblock stylesheet %}

{% block title %}
 <title>Bored Games – Logout</title>
{% endblock title %}

{% block page %}
<div class="page">
    <h1>Bye bye!</h1>

    <div class="content">
        <h2>Thanks for coming and welcome again!</h2>
        <p>This little website was made by:</p>
        <ul>
            <li>Aleksi Rekunen</li>
            <li>Aino Haikonen</li>
            <li>Teemu Salminen</li>
            <li>Otso Saarinen</li>
        </ul>
        <div class="button">
            <a href="{% url "login" %}">
                Log back in!
             </a>

        </div>
    </div>
{% endblock page %}