* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  align-items: center;
  background-color: rgb(29, 26, 24);
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 3%;
}

#home,
#games {
  font-size: 1.5rem;
  font-weight: bold;
}

#home a,
#games a {
  color: rgb(238, 164, 80);
}

#home a:hover,
#games a:hover {
  color: rgb(248, 193, 131);
}

#home {
  margin-right: 2.5rem;
}

#games {
  margin-right: auto;
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 1.25rem;
}

.navbar nav a {
  color: rgb(185, 131, 31);
  font-size: 1.25rem;
}

.navbar nav a:hover {
  color: rgb(228, 163, 44);
}
